/*Thypograpgy*/
body {
    font-family: sans-serif;
    font-size: 82%;
    padding: 1em;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 150%;
    min-height: 2em;
    line-height: 2em;
    margin: 1em 0 0;
}

h2 {
    font-size: 120%;
}

/*General classes*/
label {
    display: inline-block;
}

.error {
    color: red;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section {
    margin-bottom: 1em;
}

/*Buttons*/
[class$="Btn"] {
    display: none;
}

.button, button {
    background: white;
    padding: 10px 20px;
    border: solid 1px black;
    display: inline-block;
    margin-right: 1em;
    font-size: 100%;
    cursor: pointer;
}

input[class$="Btn"]:disabled + label, button:disabled {
    cursor: default;
    color: grey;
}

[class$="Btn"] + label.button:hover, button:not(:disabled):hover {
    background: lightgrey;
}

[class$="Btn"]:checked + label, button:active  {
    background: black;
    color: white;
}

[class$="Btn"]:checked + label.openClose  {
    background: white;
    color: black;
}

[class$="Btn"] + label.openClose:hover  {
    text-decoration: underline;
}

[class$="Btn"]:checked + label.selectFolder  {
    background: green;
}

[class$="Btn"]:checked + label.excludeFolder  {
    background: red;
}

.openTxt:before, .closeTxt:before {
    content: "";
    display: inline-block;
    border: solid 0.5em transparent;
    border-left-color: black;
    vertical-align: middle;
}

.closeTxt:before {
    transform: rotate(45deg);
    transform-origin: bottom center;
    margin: 0 0.5em 0 -0.5em;
}

fieldset [data-type="dir"] + label {
    margin-right: 0;
    border-right: none;
}

/*Close buttons*/
.closeBtn + label {
    margin-right: 1.5em;
}

.closeBtn:not(:checked) ~ label .openTxt {
    display: none;
}

.closeBtn:checked ~ label .closeTxt {
    display: none;
}

.closeBtn:checked + label ~ div {
    display: none;
}

/*Form*/
form {
    margin-bottom: 1em;
}

/*Browser section*/
.envWrapper {
    display: flex;
    align-items: center;
}

.envTitle {
    margin: 0 2em 0 0;
}

#environmentsFormInner label {
    width: auto;
    margin-right: 2em;
}

/*Tags section*/
.row {
    display: flex;
    margin-bottom: 1em;
}

.tagListWrapper {
    display: block;
}

.tagList {
    padding-left: 0;
}

.tag {
    display: inline-block;
    margin-right: 1em;
    border-radius: 1em 0 0 1em;
    padding: 0.5em;
    border: solid 1px black;
    cursor: pointer;
    background: darkgrey;
}

.tag::before {
    vertical-align: middle;
    content: "";
    display: inline-block;
    width: 0.2em;
    height: 0.2em;
    border: solid 1px currentColor;
    border-radius: 50%;
    margin-right: 0.5em;
}

.featureList {
    padding-left: 1.5em;
}

.fullCol {
    padding: 0.5em;
}

.halfCol {
    width: calc(50% - 0.5em);
    border: solid 1px black;
    padding: 0.5em;
}

.halfCol:first-child {
    margin-right: 0.5em;
}

.halfCol:last-child {
    margin-left: 0.5em;
}

.row h2 {
    margin: 0;
}

.halfCol ul li {
    word-break: break-all;
}

.tagsDropArea {
    background: lightgrey;
    border: solid 1px black;
}

/*Feature section*/
label[for="selectAll"] {
    margin-bottom: 1em;
}

.folderWrapper {
    margin: 0 0 1em 0;
    padding-left: 3em;
    border: none;
}

legend {
    font-weight: bold;
}

.featureFiles {
    margin-top: 1em;
}

.line {
    width: 30px;
}

.line + label {
    display: inline-block;
    width: calc(100% - 40px);
}

.testRunningMsg {
    max-height: 20em;
    overflow-y: scroll;
    overflow-x: hidden;
    background: black;
    color: white;
    padding: 1em;
}

.testRunningMsg h2 {
    text-align: center;
    color: green;
    font-size: 45px;
    font-weight: bold;
    font-family: impact;
}